<section id="employeeAdd">
  <div class="container p-2">
    <div class="row mt2">
      <div class="col-8 offset-2">
        <app-mesage></app-mesage>
        <hr>
        <form>
          <div class="card">
            <div class="card-header">
              <h3 class="text-center" Add new Employee></h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                  class="form-control" name="name" id="name" aria-describedby="nameHelpId" placeholder="Name">
                <small id="nameHelpId" class="form-text text-muted">Name Help text</small>
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email"
                class="form-control" name="email" id="email" aria-describedby="EmailHelpId" placeholder="Email">
              <small id="EmailHelpId" class="form-text text-muted">Email Help text</small>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password"
                class="form-control" name="password" id="password" aria-describedby="passworHelpId" placeholder="Password">
              <small id="passwordHelpId" class="form-text text-muted">Password Help text</small>
            </div>


            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text"
                class="form-control" name="phone" id="phone" aria-describedby="phoneHelpId" placeholder="Phone">
              <small id="phoneHelpId" class="form-text text-muted">Phone Help text</small>
            </div>

            <div class="form-group">
              <label for="zone">Zone</label>
              <select class="form-control" name="zone" id="zone">
                <option>East</option>
                <option>West</option>
                <option>South</option>
                <option>North</option>
              </select>
            </div>

            <div class="form-group">
              <label for="status">Status</label>
              <select class="form-control" name="status" id="status">
                <option>Working</option>
                <option>Resigned</option>
                <option>Pending</option>
              </select>
            </div>

            <div class="form-group">
              <label for="role">Role</label>
              <select class="form-control" name="role" id="role">
                <option>Leader</option>
                <option>Employee</option>
              </select>
            </div>
            <div class="card-footer text-muted">
              <button class="btn btn-outline-primary btn-block">Save</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
