<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Prodcut code</th>
        <th scope="col">Product name</th>
        <th scope="col">Star rating</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.productCode }}</td>
        <td>{{ product.productName }}</td>
        <td><app-star [rating] = "product.starRating" (ratingCLicked)="changeStarRating($event)"></app-star></td>
        <td>
            <div class="wrapper-icons">
              <a [routerLink]="['/productDetail/' + product.productCode]"><i class="fa-solid fa-eye"></i></a>
              <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
              <a href=""><i class="fa-solid fa-trash"></i></a>
            </div>
        </td>
      </tr>
    </tbody>
  </table>