<div class="row">
    <div class="col-6 offset-3">
        <form id="loginForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="card">
                <div class="card-head">
                    <h1>Login to system</h1>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="email">email</label>
                        <input type="text" class="form-control" ngModel required minlength="6" name="email" id="email"
                            #email="ngModel" aria-describedby="emailHelpId" placeholder="email" />
                        <small id="emailHelpId" *ngIf="!email?.valid && (email?.dirty || email?.touched)"
                            class="form-text text-muted">Email không hợp lệ</small>
                    </div>

                    <div class="form-group">
                        <label for="password">password</label>
                        <input type="password" class="form-control" ngModel required minlength="8" name="password"
                            id="password" aria-describedby="passwordHelpId" placeholder="password"
                            #password="ngModel" />
                        <small *ngIf="!password?.valid && (password?.dirty || password?.touched)" id="passwordHelpId"
                            class="form-text text-muted">Password không hợp lệ</small>
                    </div>

                    <div class="card-footer text-center">
                        <button class="btn btn-primary" type="submit">Login</button>
                        <button type="reset" class="btn btn-info">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>